@charset "UTF-8";

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('SourceHanSansCN-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('SourceHanSansCN-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('SourceHanSansCN-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Source Han Sans-Bold';
  src: url('SourceHanSansCN-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Source Han Sans-Medium';
  src: url('SourceHanSansCN-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Source Han Sans-Regular';
  src: url('SourceHanSansCN-Regular.ttf')  format('truetype');
}