@use './mixin.scss' as *;
$collapseWidth: 64px;
$collapseJvsMainWidth: calc(100% - 64px);

// 字体
.theme-box{
  @include SourceHanSansCN-Regular;
}

// 折叠后菜单栏
.jvs-contail.jvs--collapse{
  .top-bar-box{
    .jvs-logo{
      width: $collapseWidth !important;
      .logo-image{
        width: 30px;
        height: 30px;
      }
    }
  }
  .jvs-left{
    width: $collapseWidth !important;
    .jvs-sidebar{
      background-color: #F5F6F7;
      .el-scrollbar__bar.is-vertical{
        display: none;
      }
      .el-menu--collapse{
        width: $collapseWidth;
        .menu-item-li{
          padding: 0!important;
          display: flex;
          align-items: center;
          justify-content: center;
          &:not(.is-active-item):hover{
            background-color: #eeeff0;
            border-radius: 0;
          }
          &.is-active-item{
            .word-icon{
              color: #1e6fff;
              @include SourceHanSansCN-Bold;
            }
          }
          .el-tooltip__trigger{
            display: flex;
            align-items: center;
          }
        }
        // 平台管理 运维设置
        .local-menu{
          .menu-item-head{
            display: none;
          }
          .menu-item-li{
            margin: 6px 12px 0;
            .local-menu-item-dot{
              display: none;
            }
            >span{
              width: 100%;
              .el-popover__reference-wrapper{
                width: 100%;
                height: 100%;
                .el-popover__reference{
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .icon{
                    width: 15px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .jvs-main{
    width: $collapseJvsMainWidth !important;
    left: $collapseWidth !important;
  }
}

// 打开的菜单列表
.jvs-view{
  height: 100%;
  .outer-container{
    #mainIframe{
      height: 100%;
    }
  }
}

// 折叠菜单--子项
.el-menu--vertical{
  .el-menu--popup-right-start{
    margin: 0;
    padding: 4px 10px 10px;
  }
  .menu-item-li{
    margin-top: 6px;
    height: 40px;
    line-height: 40px;
    &.is-active-item{
      background: #DDEAFF;
      color: #363B4C;
      @include SourceHanSansCN-Medium;
    }
  }
}

// 平台菜单页面头部
.platform-page-header{
  padding: 20px 20px 0;
  border-radius: 6px;
  background-color: #fff;
  .title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .explain{
    font-size: 12px;
  }
}

// 暂无内容
.empty-view{
  position: absolute;
  left: calc(50% - 95px);
  top: calc(50% - 155px);
  text-align: center;
  z-index: 1;
  img{
    display: block;
  }
  div{
    height: 18px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    font-size: 14px;
    color: #3D3D3D;
    line-height: 18px;
  }
}